.sidebar {
  display: flex;
  flex-direction: column;

  background-image: var(--admin-panel-theme);
  height: 100vh;
}
.sidebar .logo {
  font-size: 25px;
  padding: 20px 34px 20px 0;
  width: 100%;
  border-bottom: 3px solid #8a41f096;
}
.sidebar .logo a {
  color: var(--text-dark-100);
}
.sidebar ul {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar ul li {
  font-size: 17px;
  padding: 5px 10px 5px;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.sidebar ul li a span {
  margin-right: 10px;
}

.active {
  background-color: var(--bg-dark-100);
  font-weight: bold;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.logout_botton {
  font-size: 17px;
  color: white;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.icon_menu {
  display: none;
  border-bottom: 3px solid #8a41f096;
  padding: 15px;
}
.icon_menu img {
  cursor: pointer;
  border-radius: 10px;
}
@media (max-width: 700px) {
  .sidebar .logo {
    display: none;
  }
  .sidebar .icon_menu {
    display: block;
  }
  .sidebar ul {
    padding: 0;
    margin: 15px 0 0;
  }
  .sidebar ul li {
    padding: 0;
  }

  .sidebar ul li a {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .sidebar ul li a span {
    display: none;
  }

  .logout_botton {
    width: 100%;
    height: 50px;
    justify-content: center;
  }

  .logout_botton span {
    display: none;
  }
  .active {
    border-radius: 0;
  }
}
