.container_add_course {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);
  padding: 32px;
  margin: 20px 0;
}
.title_form {
  text-align: center;
  margin-top: 5px;
  border-bottom: 3px solid;
  border-image: linear-gradient(135deg, #9d5ef0, #90b3e9) 1;
  margin-bottom: 24px;
  padding-bottom: 15px;
}
.input_field {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px 0;
}
.input_field label {
  margin: 15px;
}
.input_field input {
  background-color: whitesmoke;
  width: 100%;
  height: 55px;
  border-radius: 15px;
  border: 2px solid lightgray;
  padding: 10px;
  margin-bottom: 15px;
}
.input_field textarea {
  border-radius: 15px;
  border: 2px solid lightgrey;
  height: 119px;
  background-color: whitesmoke;
  padding: 15px;
  margin-bottom: 15px;
}
.input_field select {
  background-color: whitesmoke;
  border-radius: 15px;
  height: 55px;
  border: 2px solid lightgray;
  padding: 11px;
}
.row_input,
.row_input_status {
  display: flex;
  gap: 50px;
  align-items: center;
}
.row_input .input_field {
  width: 35%;
}
.row_input_status .input_field {
  width: 50%;
}
.isFree_course {
  display: flex;
  align-items: center;
  justify-content: center;
}
.isFree_course input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.btn_create_course {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.btn_create_course button {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  border: 0;
  background: linear-gradient(135deg, #6d28d9, #2563eb);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}

.btn_create_course button:hover {
     filter: brightness(1.1);
  transform: translateY(-1px);
  transition: all 0.5s;
}
.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview img {
  border-radius: 15px;
  box-shadow: 2px 0 5px 12px lightgray;
}